.vscode/**                 
.vscode-test/**            
test/**                    
.gitignore                 
.yarnrc                    
.vsc-extension-quickstart.md 
**/jsconfig.json           
**/*.map                   
**/eslint.config.mjs       
**/.vscode-test.*          
.env                       
node_modules/**            
!node_modules/essential-module/** 
*.log                      
*.md                      
dist/**                    
coverage/**                
